[user]
  name = Charlie Duong
  email = charlieduong94@gmail.com
[push]
  default = current

[includeIf "gitdir:~/work/jupiterone/"]
  path = ~/.gitconfig-work

[core]
  editor = ~/nvim-0.5.appimage

[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[pager]
  diff = delta
  show = delta
  log = delta
  reflog = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  side-by-side = true
