[user]
  name = Charlie Duong
  email = charlieduong94@gmail.com
[push]
  default = current
[includeIf "gitdir:~/work/"]
  path = ~/work/.gitconfig

[core]
  editor = ~/nvim.appimage

[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
