;; Karabiner implementation of symbol layer from
;; https://github.com/callum-oakley/keymap

{:layers {
          :symbol-right-option {:key :right_option}
          :symbol-right-command {:key :right_command}
         }

 :main [{:des "symbol (right option)"
         :rules [[:q :escape :symbol-right-option] ;; escape
                 [:w :open_bracket :symbol-right-option] ;; [
                 [:e :!Sopen_bracket :symbol-right-option] ;; {
                 [:r :!S9 :symbol-right-option] ;; (
                 [:t :!Sgrave_accent_and_tilde :symbol-right-option] ;; `
                 [:y :!S6 :symbol-right-option] ;; ^
                 [:u :!S0 :symbol-right-option] ;; )
                 [:i :!Sclose_bracket :symbol-right-option] ;; }
                 [:o :close_bracket :symbol-right-option] ;; ]
                 [:p :grave_accent_and_tilde :symbol-right-option] ;; `
                 [:a :hyphen :symbol-right-option] ;; `
                 [:s :!S8 :symbol-right-option] ;; `
                 [:d :equal_sign :symbol-right-option] ;; =
                 [:f :!Shyphen :symbol-right-option] ;; _
                 [:d :!S4 :symbol-right-option] ;; $
                 [:h :!S3 :symbol-right-option] ;; #
                 [:z :!Sequal_sign :symbol-right-option] ;; +
                 [:x :!Sbackslash :symbol-right-option] ;; |
                 [:c :!S2 :symbol-right-option] ;; @
                 [:v :backslash :symbol-right-option] ;; /
                 [:b :!S5 :symbol-right-option] ;; %
                 [:m :slash :symbol-right-option] ;; /
                 [:comma :!S7 :symbol-right-option] ;; &
                 [:period :!Sslash :symbol-right-option] ;; ?
                 [:slash :!S1 :symbol-right-option] ;; !
                 ]}

        ;; same as above but for right command
        {:des "symbol (right command)"
         :rules [[:q :escape :symbol-right-command] ;; escape
                 [:w :open_bracket :symbol-right-command] ;; [
                 [:e :!Sopen_bracket :symbol-right-command] ;; {
                 [:r :!S9 :symbol-right-command] ;; (
                 [:t :!Sgrave_accent_and_tilde :symbol-right-command] ;; `
                 [:y :!S6 :symbol-right-command] ;; ^
                 [:u :!S0 :symbol-right-command] ;; )
                 [:i :!Sclose_bracket :symbol-right-command] ;; }
                 [:o :close_bracket :symbol-right-command] ;; ]
                 [:p :grave_accent_and_tilde :symbol-right-command] ;; `
                 [:a :hyphen :symbol-right-command] ;; `
                 [:s :!S8 :symbol-right-command] ;; `
                 [:d :equal_sign :symbol-right-command] ;; =
                 [:f :!Shyphen :symbol-right-command] ;; _
                 [:d :!S4 :symbol-right-command] ;; $
                 [:h :!S3 :symbol-right-command] ;; #
                 [:z :!Sequal_sign :symbol-right-command] ;; +
                 [:x :!Sbackslash :symbol-right-command] ;; |
                 [:c :!S2 :symbol-right-command] ;; @
                 [:v :backslash :symbol-right-command] ;; /
                 [:b :!S5 :symbol-right-command] ;; %
                 [:m :slash :symbol-right-command] ;; /
                 [:comma :!S7 :symbol-right-command] ;; &
                 [:period :!Sslash :symbol-right-command] ;; ?
                 [:slash :!S1 :symbol-right-command] ;; !
                 ;; preserve rcmd left right
                 [:left_arrow :!Qleft_arrow :symbol-right-command]
                 [:right_arrow :!Qright_arrow :symbol-right-command]
                 ]}
                 ]}


