---
- hosts: localhost
  connection: local
  vars:
    packages:
      - bat
      - fd-find
      - mergiraf
      - ripgrep
      - stylua
      - xsv
      - zoxide
      - ripgrep
      - tmux-sessionizer
  tasks:
    - name: Install cargo packages
      loop: "{{ packages }}"
      community.general.cargo:
        name: "{{ item }}"
        state: latest
