---
- hosts: localhost
  connection: local
  vars:
    packages:
      - typescript-language-server
      - bash-language-server
      - "@astrojs/language-server"
      - "@astrojs/ts-plugin"
      - "@withgraphite/graphite-cli"
      - "@socketsecurity/cli"
  tasks:
    - name: Installing npm packages
      loop: "{{ packages }}"
      ansible.builtin.shell: "npm i -g {{ item }}"
