---
- hosts: localhost
  connection: local
  vars:
    packages:
      - readline
      - gcc
      - wget
      - tmux
      - htop
      - zsh
      - neovim
      - sqlite
      - wget
      - gh
      - jq
      - yarn
      - gpg
      - gawk
      - thefuck
      - fzy
      - pyenv
      - readline
      - xz
      - openssl
      - sqlite3
      - zlib
      - awscli
      - ffmpeg
      - libpq
      - koekeishiya/formulae/yabai
      - koekeishiya/formulae/skhd
      - databricks
      - sketchybar
      - reattach-to-user-namespace
    casks:
      - bitwarden
      - docker
      - font-hack-nerd-font
      - unnaturalscrollwheels
    taps:
      - databricks/tap
      - homebrew/cask-fonts
      - FelixKratz/formulae
  tasks:
    - name: Install taps
      homebrew_tap: name={{ item }} state=present
      loop: "{{ taps }}"
    - name: Install cask packages
      homebrew_cask: name={{ item }} state=present
      loop: "{{ casks }}"
    - name: Install apps with homebrew
      homebrew: name={{ item }} state=present
      loop: "{{ packages }}"
