---
- hosts: localhost
  connection: local
  vars:
    packages:
      - "@astrojs/language-server"
      - "@astrojs/ts-plugin"
      - "@socketsecurity/cli"
      - "@withgraphite/graphite-cli"
      - "@tailwindcss/language-server"
      - bash-language-server
      - typescript-language-server
      - vscode-langservers-extracted
      - nx
      - turbo
  tasks:
    - name: Installing npm packages
      loop: "{{ packages }}"
      ansible.builtin.shell: "npm i -g {{ item }}"
