---
- hosts: localhost
  connection: local
  vars:
    package_repos:
      - golang.org/x/tools/gopls@latest
      - github.com/charmbracelet/glow@latest
  tasks:
    - name: Installing golang packages
      loop: "{{ package_repos }}"
      ansible.builtin.shell: >
        go install {{ item }}

