---
- hosts: localhost
  connection: local
  vars:
    packages:
      - "@astrojs/language-server"
      - "@astrojs/ts-plugin"
      - "@fsouza/prettierd"
      - "@olrtg/emmet-language-server"
      - "@prisma/language-server"
      - "@socketsecurity/cli"
      - "@tailwindcss/language-server"
      - "@vtsls/language-server"
      - "@withgraphite/graphite-cli"
      - "@zed-industries/claude-code-acp"
      - "@zed-industries/codex-acp"
      - bash-language-server
      - dotenv-cli
      - node-notifier
      - nx
      - turbo
      - typescript
      - typescript-language-server
      - vscode-langservers-extracted
  tasks:
    - name: Installing npm packages
      loop: "{{ packages }}"
      ansible.builtin.shell: "npm i -g {{ item }}"
