---
- hosts: localhost
  connection: local
  vars:
    packages:
      - readline
      - gcc
      - wget
      - tmux
      - htop
      - zsh
      - neovim
      - sqlite
      - wget
      - gh
      - jq
      - yarn
      - gpg
      - gawk
      - thefuck
      - fzy
      - pyenv
      - readline
      - xz
      - openssl
      - sqlite3
      - zlib
      - awscli
      - ffmpeg
      - libpq
      - koekeishiya/formulae/yabai
      - koekeishiya/formulae/skhd
    casks:
      - bitwarden
      - docker
  tasks:
    - name: Install apps with homebrew
      homebrew: name={{ item }} state=present
      loop: "{{ packages }}"
    - name: Install cask packages
      homebrew_cask: name={{ item }} state=present
      loop: "{{ casks }}"
